.mainContainer
      font-size: 16px
      font-family: "Arial"
      color: #77838F
      line-height: 1.7

.startContestBtn
      text-align: center
      max-width: 340px
      padding: 10px 22px
      border: 2px solid #28d2d0
      color: #28d2d0
      border-radius: 5px
      font-size: 14px
      font-weight: 400
      margin-bottom: 10px
      text-decoration: none

      &:hover
        color: white
        background-color: #28d2d0

.squadhelpWorkContainer
      margin-top: 30px
      display: flex
      flex-direction: row

.namingPlatformContainer
      display: flex
      flex-direction: column
      padding: 30px
      justify-content: space-between



.spanPlatform
      max-width: 250px
      margin: 20px
      margin-top: 100px
      padding: 5px 10px
      border-radius: 20px
      background: #EAF2FF
      color:#377dff
      text-align: center

h1 
      color: #1E2022
      margin: 20px
      font-weight: bold
      font-size: 40px

.squadhelpHelps
      margin: 20px

.video
      margin: 30px
      padding: 15px 30px
      border-radius: 50px
      background: #377DFF
      color: #FFFFFF
      text-decoration: none

.squadhelpWorksSVG
      padding-right: 40px
      width: 50%
      display: flex
      justify-content: flex-end
      
.outServicesContainer
      display: flex
      flex-direction: column
      text-align: center
      padding-bottom: 40px


.spanServices
      border-radius: 50%
      margin: 20px
      margin-top: 100px
      padding: 5px 10px
      border-radius: 20px
      background: #EAF2FF
      color: #377dff
      text-align: center

h2
      color: #1E2022
      font-weight: bold
      font-size: 30px
      font-weight: 300
      padding-top: 20px
      padding-bottom: 20px

.contestContainer
      margin: 2%
      max-width: 95%
      display: flex
      flex-direction: row
      text-align: center

h3 
      color: #1E2022
      font-weight: bold
      font-size: 24px
      font-weight: 300
      padding-top: 20px
      padding-bottom: 20px

p 
      padding-bottom: 30px

.contests
      margin: 0px 25px
      border: 1px solid #e5e7eb
      padding: 64px 16px

.contestBtn
      text-align: center
      max-width: 340px
      padding: 10px 22px
      background-color: #377DFF
      color: #FFFFFF
      border-radius: 5px
      font-size: 14px
      font-weight: 400
      text-decoration: none

.namingContestContainer
      border: 1px solid #e5e7eb
      padding: 128px 15px

.contestsWork
      text-align: center

.chouseAgency
      position: relative
      display: flex
      justify-content: center
      align-items: center

.chouseAgencySVG
      position: absolute
      left: 100px

.stepsContainer
      padding: 100px

.listContest
      position: relative
      padding: 32px
      left: 400px
      &:before
            position: absolute
            top: 0
            bottom: 0
            right: 0
            left: -0.25rem
            width: 2rem
            height: 0.0625rem
            border-top: 1px solid #e5e7eb
            margin: auto auto auto 0
            content: ""
            margin-left: -35px
      &::after
            position: absolute
            top: 6rem
            bottom: 0
            right: 0
            left: -0.3125rem
            width: 0.0625rem
            height: 100%
            border-right: 1px solid #e5e7eb
            content: ""
            margin-left: -2.2rem
      &:last-child::after
            height: 0

.numberContainer
      display: flex
      justify-content: center
      align-items: center
      padding: 16px 0px 16px 40px
      border: 1px solid #e5e7eb
      width: 500px


.stepNumber
      color: #377DFF
      font-size: 56px

.buttonContainer
      display: flex
      flex-direction: row

.navigationList
      padding: 16px 32px
      background-color: #377DFF

.listGroupItems
      padding: 16px 0px
      display: flex
      justify-content: left
      align-items: center
      color: #FFFFFFB3
      text-decoration: none
