.startContestBtn
      text-align: center
      max-width: 340px
      padding: 10px 22px
      border: 2px solid #28d2d0
      color: #28d2d0
      border-radius: 5px
      font-size: 14px
      font-weight: 400
      margin-bottom: 10px
      text-decoration: none

      &:hover
        color: white
        background-color: #28d2d0

.squadhelpWork
      margin-top: 150px
      display: flex
      flex-direction: row

.namingPlatform
      weight: 50%
      flex-direction: column
      padding: 30px
      justify-content: space-between

.spanPlatform
      margin: 20px
      padding: 5px 10px
      border-radius: 20px
      background: #EAF2FF
      color: #28d2d0

h1 
      margin: 20px
      font-weight: bold
      font-size: 40px

.squadhelpHelps
      margin: 20px


.video
      margin: 30px
      padding: 10px 30px
      border-radius: 50px
      background: #377DFF
      color: #FFFFFF

.squadhelpWorksSVG
      padding-right: 40px
      width: 50%
      display: flex
      justify-content: flex-end
      

    