.mainContainer
      font-size: 16px
      font-family: "Arial"
      color: #77838F
      line-height: 1.7

.startContestBtn
      text-align: center
      max-width: 340px
      padding: 10px 22px
      border: 2px solid #28d2d0
      color: #28d2d0
      border-radius: 5px
      font-size: 14px
      font-weight: 400
      margin-bottom: 10px
      text-decoration: none
      &:hover
        color: white
        background-color: #28d2d0

.squadhelpWorkContainer
      margin-top: 60px
      display: flex
      height: 450px

.namingPlatformContainer
      width: 30%
      display: flex
      flex-direction: column
      padding: 30px
      margin-left: 20%
      font-size: 16px

.spanPlatform
      max-width: 150px
      padding: 5px 10px
      border-radius: 20px
      background: #EAF2FF
      color:#377dff
      text-align: center
      font-size: 11px

h1 
      color: #1E2022
      font-weight: bold
      font-size: 40px

.video
      padding: 15px 30px
      border-radius: 50px
      background: #377DFF
      color: #FFFFFF
      text-decoration: none
      font-size: 16px

.squadhelpWorksSVG
      padding-right: 20%
      width: 500px
      display: flex
      justify-content: flex-end
      
.outServicesContainer
      display: flex
      flex-direction: column
      text-align: center
      padding-bottom: 40px
      margin-top: 100px

.spanServices
      border-radius: 50%
      margin: 20px
      margin-top: 100px
      padding: 5px 10px
      border-radius: 20px
      background: #EAF2FF
      color: #377dff
      text-align: center
      font-size: 11px

.h2Ways
      color: #1E2022
      font-weight: bold
      font-weight: 300
      font-size: 32px
      padding-top: 20px
      padding-bottom: 20px

.squadhelpOffers
      font-size: 16px

.contestContainer
      width: 100vh
      display: flex
      text-align: center
      margin-left: 20%
      margin-right: 23%
      margin-bottom: 10px
      height: 95%

.contestsHeader 
      color: #1E2022
      font-weight: bold
      font-size: 24px
      font-weight: 300  

p 
      padding-bottom: 20px
      font-size: 16px

.contests
      border: 1px solid #e5e7eb
      border-radius: 5px
      padding: 35px

.contestBtn
      text-align: center
      padding: 15px 25px
      background-color: #377DFF
      color: #FFFFFF
      border-radius: 5px
      font-size: 16px
      font-weight: 400
      text-decoration: none
      white-space: nowrap

.namingContestContainer
      border: 1px solid #e5e7eb
      padding: 128px 15px

.contestsWork
      text-align: center

.h3Contests
      font-size: 32px
      font-weight: bold
      font-weight: 300
      color: black

.chouseAgency
      position: relative
      display: flex
      justify-content: center
      align-items: center

.chouseAgencySVG
      position: absolute

.listContest
      position: relative
      padding: 15px
      left: 400px
      margin-left: 15%
      &:before
            position: absolute
            top: 0
            bottom: 0
            right: 0
            left: -0.25rem
            width: 2rem
            height: 0.0625rem
            border-top: 1px solid #e5e7eb
            margin: auto auto auto 0
            content: ""
            margin-left: -35px
      &::after
            position: absolute
            top: 5rem
            bottom: 0
            right: 0
            left: -0.3125rem
            width: 0.0625rem
            height: 100%
            border-right: 1px solid #e5e7eb
            content: ""
            margin-left: -2.2rem
      &:last-child::after
            height: 0

.numberContainer
      display: flex
      justify-content: center
      align-items: center
      border: 1px solid #e5e7eb
      width: 570px


.stepNumber
      color: #377DFF
      font-size: 56px

.steps
      margin-top: 40px
      width: 400px
      font-size: 16px
      padding-left: 15px

.buttonContainer
      display: flex
      flex-direction: row
      justify-content: center
      padding: 64px 15px

.navigationList
      height: 270px
      width: 244px
      position: relative
      padding: 16px 32px
      background-color: #377DFF
      border-radius: 0.3125rem

.listGroupItems
      padding: 16px 0px
      display: flex
      justify-content: left
      align-items: center
      color: #FFFFFFB3
      text-decoration: none
      font-size: 18px

.navigationListContainer
      width: 15%
      padding: 0px 15px
      margin-left: 100px

.buttonGroupContainer
      margin-left: 10%

.h3Header
      color:#377DFF
      font-size: 28px
      font-weight: bold

.buttonGroupContest
      border-top: 1px solid #e5e7eb
      padding: 40px

.backgroundContainer
      position: realtive
      display: flex
      justify-content: space-between
      width: 100%
      height: 220px
      background: linear-gradient(#2D1582,#19A0FF)

.getStartedSVG
      display: flex
      align-self: flex-start
      
.sheetSVG
      display: flex
      align-self: flex-end

.getStartedContainer
      display: flex
      flex-direction: column
      align-items: center
      margin-top: -220px

.headerStarted
      color:#00DFFC
      margin-top: 20px
      font-size: 32px
      font-weight: bold

.paragraphStarted
      color:#FFFFFB
      font-size: 20px

.startContestButton
      margin-top: -25px
      color: #1E2022
      padding: 10px 20px
      text-decoration: none
      background: #FFFFFF
      border-radius: 5%
      font-size: 14px

.imagesContainer
      margin: 0px 150px
      padding: 64px 15px
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      margin-left: 20%
      margin-right: 18%

.imageContainer
      width: 33%
      margin: 30px
      padding: 0px 48px
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: center
      text-align: center

.lazyImage
      width: 72px
      height: 80px

p>span
      font-weight: bold
      color: #000

.avatars
      width: 80px
      height: 80px

.questionsContainer
      width: 63%
      padding: 32px 15px
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      margin-left:300px


div>h3
      color: #000
      margin: 0px 0px 4px
      font-size: 20px

p>a
      text-decoration: none

.thinArrow
      width: 32px
      height: 32px
      padding: 5px
      color: #377DFF
      background-color: #EAF2FF
      font-weight: 900
      border-radius: 50%
      display: flex
      justify-content: center
      margin-right: 20px

.ulInfo
      border: 1px solid #E7EAF3
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2)
      height: 380px

.liInfo 
      display: flex
      flex-direction: row
      margin: 20px

.topBorder
      border-top: 1px solid #E7EAF3

.expertContainer
      width: 350px
      height: 250px
      padding: 64px
      color: #FFFFFF
      background-color: #377DFF
      display: flex
      flex-direction: column  
      font-size: 14px

.consultationBtn
      height: 50px
      width: 214.7px
      padding: 12px 5px
      border-radius: 20px
      margin-bottom: 10px
      border: none
      font-size: 16px
      color: #377DFF

h4
      font-size: 32px
      margin: 0px 0px 4px

div>p
      margin: 0px 0px 16px

div>span
      margin: 8px 0px 0px

.sponsorContainer
      display: flex
      align-items: center
      justify-content: space-between
      margin-left: 300px
      margin-right: 200px

.headerInfo
      font-size: 19.2px 
      font-weight: bold 
      color: #000

.sponsorImageContainer
      border-top: 1px solid #E7EAF3 

.contactNumberInfo
      background-color: #377DFF

.contactNumber
      color: #FFFFFF
      text-decoration: none

.sponsors
      margin-top: 15px
      margin-right: 5rem
      padding: 0px 15px

.infoContainer
      background-color: #EBEBEB

.linkContainer
      padding: 80px 0px 60px
      margin-top: 30px
      margin-left: 25% 
      margin-right: 25%
      display: flex
      flex-direction: row  
      justify-content: space-between
      border-bottom: 1px solid #FFFFFF 

.linkUlInfo
      font-size: 15.2px

.indentedList
      padding: 0px 4px 4px 24px

li>a
      text-decoration: none
      color: grey

li
      padding: 0px 4px 12px 0px

.legalContainer
      margin-top: 250px

.footerContainer
      padding: 60px 0px
      display: flex
      flex-direction: row  
      justify-content: center
      align-items: center

.trendingContainer
      width: 562px
      margin: 20px
      display: flex
      flex-direction: column

.trendingHeader
      color: #000000
      font-size: 19.2px
      font-weight: bold

.linkHref
      font-size: 14px
      color: #000
      text-decoration: none
      margin: 5px

.linkSVG
      width: 500px
      margin: 20px
      display: flex
      flex-direction: row
      flex-wrap: wrap

div>a
      margin: 10px
      padding: 12px 16px
      border-radius: 5px
      background-color: #FFFFFF
      color: grey

.fiveLetter
      margin-top: 25px

.searchBtn
      width: 92px
      height: 68px
      background-color: #377DFF
      color: #FFFFFF

.inputContainer
      display: flex
      flex-direction: row
      border: 1px solid white

.input
      width: 100%

.footerInfo
      margin-left: 20%
      margin-right: 20%
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      color: #000
      background-color: #EBEBEB
      div>a
            width: 300px
            background-color: #EBEBEB
            color: #000

.inc
      font-size: 16px

.shooper
      font-size: 14px

.divShooper
      width: 350px
      text-align: center

.socialMedia
      width: 200px
      display: flex
      flex-direction: row
      justify-content: space-between

@media screen and (max-width: 991px)
  .mainContainer
    overflow-x: hidden

  .squadhelpWorkContainer
    flex-direction: column-reverse
    height: auto
    margin-top: 30px
    width: 100%

  .namingPlatformContainer
    width: 100%
    margin-left: 0
    padding: 20px

  .title
    font-size: 45px

  .squadhelpWorksSVG
    display: none

  .video
    margin-top: 20px

  .outServicesContainer
    width: 100%

  .contestContainer
    width: 100%
    margin-left: 10px
    margin-right: 10px
    display: flex
    flex-direction: row

  .contestBtn
    white-space: nowrap
    margin-left: -10px

  .namingContestContainer
    width: 100%

  .chouseAgency
    width: 100%
    display: flex
    flex-direction: column

  .chouseAgencySVG
    position: relative

  .listContest
    margin-left: -105%

  .numberContainer
    width: 80%

  .buttonContainer
    width: 100%
    display: flex
    flex-direction: column

  .navigationListContainer
    width: 100%

  .navigationList
    width: 95%
    margin-left: -12%
    padding: 10px

  .buttonGroupContainer
    margin-left: -5%
    margin-right: 5%

  .paragraphStarted
    text-align: center

  .imagesContainer
    width: 100%
    display: flex
    flex-direction: row
    margin-left: 0

  .imageContainer
    height: 150px
    width: 33%

  .questionsContainer
    width: 100%
    display: flex
    flex-direction: column
    margin-left: 0

  .ensureContainer
    width: 95%

  .expertContainer
    width: 107.8%
    margin-top: 0
    margin-left: -12.4%
    
  .sponsorContainer
    width: 70%
    flex-direction: row
    margin-left: 30%

  .h6Header
    margin-left: -180%
    font-size: 28px
    color: #000

  .sponsorImageContainer
    border-top: none
    margin-top: 20px

  .sponsors
    margin-top: 10px
    margin-right: 0

  .linkContainer
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-around
    margin-left: 0

  .linkSVG
    display: flex
    flex-wrap: wrap

  .linkSVG > div
    box-sizing: border-box

  .footerInfo
    display: flex
    flex-direction: column

  .divShooper
    padding: 10px

  .socialMedia
    padding-bottom: 40px

@media screen and (max-width: 767px)
  .mainContainer
    overflow-x: hidden

  .squadhelpWorkContainer
    flex-direction: column-reverse
    height: auto
    margin-top: 30px
    width: 100%

  .namingPlatformContainer
    width: 100%
    margin-left: 0
    padding: 20px

  .title
    font-size: 45px

  .squadhelpWorksSVG
    display: none

  .video
    margin-top: 20px

  .outServicesContainer
    width: 100%

  .contestContainer
    width: 100%
    margin-left: 10px
    margin-right: 10px
    display: flex
    flex-direction: column

  .contestBtn
    white-space: nowrap
    margin-left: -10px

  .namingContestContainer
    width: 100%

  .chouseAgency
    width: 100%
    display: flex
    flex-direction: column

  .chouseAgencySVG
    position: relative

  .listContest
    margin-left: -105%

  .numberContainer
    width: 70%

  .buttonContainer
    width: 100%
    display: flex
    flex-direction: column

  .navigationListContainer
    width: 100%

  .navigationList
    width: 93%
    margin-left: -15%
    padding: 10px

  .buttonGroupContainer
    margin-left: -5%
    margin-right: 5%

  .paragraphStarted
    text-align: center

  .imagesContainer
    width: 100%
    display: flex
    flex-direction: column
    margin-left: 0

  .imageContainer
    height: 150px
    width: 33%

  .questionsContainer
    width: 100%
    display: flex
    flex-direction: column
    margin-left: 0

  .ensureContainer
    width: 95%

  .expertContainer
    width: 79.7%
    margin-top: 0
    margin-left: 0.3%
    
  .sponsorContainer
    width: 100%
    flex-direction: column
    align-items: center
    justify-content: space-around
    margin-left: -3%

  .h6Header
    margin-left: -180%
    font-size: 28px
    color: #000

  .sponsorImageContainer
    border-top: none
    margin-top: 20px

  .sponsors
    margin-top: 10px
    margin-right: 0

  .linkContainer
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-around
    margin-left: 0

  .linkSVG
    display: flex
    flex-wrap: wrap

  .linkSVG > div
    box-sizing: border-box

  .fourLetter
    margin-top: 10%

  .fiveLetter
    margin-top: -9%
    margin-left: 37%

  .footerInfo
    display: flex
    flex-direction: column

  .divShooper
    padding: 10px

  .socialMedia
    padding-bottom: 40px