.buttonGroup
      display: flex
      flex-direction: column 
      width: 60rem

.buttonGroupContainer
      display: flex
      justify-content: space-between
      align-items: center
      border: 1px solid #e5e7eb
      outline: none
      background: transparent
      padding: 16px
      margin-bottom: 20px
      text-align: left
      border-radius: 0.3125rem
      font-size: 16px
      color: #000
      transition: color 0.3s    
      &:hover,
      &:focus,
      &:active 
        color: #377DFF      

.arrow
      color: #377DFF

.visibleText
      margin-top: -21px
      margin-bottom: 20px
      position: relative
      border: 1px solid #e5e7eb
      border-radius: 0.3125rem
      padding: 20px
      color: black
@media screen and (max-width: 1400px)
      .buttonGroup
       width: 120%

@media screen and (max-width: 1200px)
      .buttonGroup
       width: 105%
       
@media screen and (max-width: 767px)
      .buttonGroup

@media screen and (max-width: 991px)
      .buttonGroup